body {
	margin-left: 4em;
	margin-right: 4em;
	font-size: 14pt;
}
pre.prettyprint {
	font-size: 10pt;
	padding: 10px;
	border-color: #ddd;
	border-radius: 10px;
	border: solid;
	border-color: #bbb;
	border-width: 2px;
	white-space: pre-wrap;
}
.codeblock_name {
	font-family: Monaco, Menlo;
	font-size: 10pt;
	margin-top: 1.25em;
	display: block;
}
a:link {
	color: blue;
	text-decoration: none;
}
a:link:hover {
	color: blue;
	text-decoration: underline;
}
a:visited {
	color: blue;
}
a:link:active {
	color: red;
}
h2, h3 {
	padding-right: 1.25em;
}
h1 {
	text-align: center;
}
code {
	font-family: Monaco;
	font-size: 10pt;
	padding: 2px;
	font-size: 11pt;
}
pre {
	-moz-tab-size: 4; /* Code for Firefox */
	-o-tab-size: 4; /* Code for Opera 10.6-12.1 */
	tab-size: 4;
}
p:not(.notp) {
	margin: 0;
	text-indent: 1.5em;
}
